/*The style sheet of home-page-> for-index.css*/
body{
    padding: 0;
    margin: 0;
}
.image{
    align-items: center;
    justify-content: center;
    height: 200px;
}
.title{
    justify-content: center;
    align-items: center;
}
.footer-container{  /*the whole footer container*/
    background-color: rgb(31, 27, 27);
    text-decoration-color: white;
    display: flex;
    padding-left: 50xp;
    border-radius: 60px;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 2;
    position: relative;
}
.div1-content{  /*footer content*/
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 310px;
    width: 700px;
    background-color: rgb(31, 27, 27);
    border-radius: 60px;
    padding-top: 0px;
    margin-top: 0px;
}
.div2-blackhole2{  /*footer image*/
    height: 310px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding-top: 0px;
    margin-top: 0px;
}
.blackhole2-image{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.site_banner{
    /* height: 645px; */
    height: 1000px;
    width: 100%;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    background-image: url(images-section/banner.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;  /*This property is used to control how multiple background layers like- bg-color, bg-image etc...blend with each other*/
    background-size: 100% 645px;  /*width: left_value, height: right_value*/
}
.main-part{
    /* display: block; */
    height: auto;
    z-index: 2;
    position: relative;
    margin-top: 645px;
    background-color: white;
}
.main-section2{
    display: block;
    height: auto;
    width: auto;
}