/*The style sheet of home-page-> for-index.css*/
.image{
    align-items: center;
    justify-content: center;
    height: 200px;
}
.title{
    justify-content: center;
    align-items: center;
}
.footer-container{  /*the whole footer container*/
    background-color: rgb(31, 27, 27);
    text-decoration-color: white;
    display: flex;
}
.div1-content{  /*footer content*/
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 310px;
    width: 700px;
    background-color: rgb(31, 27, 27);
}
.div2-blackhole2{  /*footer image*/
    height: 310px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackhole2-image{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.main-part{
    display: block;
    height: auto;
}
.main-section2{
    display: block;
    height: auto;
    width: auto;
}